@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600");

:root {
  --cmd-primary: #191919;
  --cmd-header-color: #ffffff;
  --cmd-header-logo-color: #191919;
  --cmd-header-menu-color: #434343;
  --cmd-header-menu-active-color: #1a1a1a;

  --font-family-sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: "Nunito Sans";
}

.navbar-brand {
  text-transform: uppercase;
}

#masthead .navbar-nav > li > a {
  text-transform: uppercase;
}

#desktop-search input,
#mobile-search input,
#mobile-search .input-group-text {
  filter: brightness(90%);
}

.dropdown-menu.show {
  background: #dbd9d982;
}
